<div class="modal-body">
	<div class="modal-header">
		<h2 class="modal-header-title">
			<icon name="'info-circle'"></icon>
			<span class="p-l-1">添加警报</span>
		</h2>

		<a class="modal-header-close" ng-click="dismiss();">
			<icon name="'times'"></icon>
		</a>
	</div>


	<div class="modal-content">
		<div class="text-center">
			<img src="public/img/alert_howto_new.png"></img>
		</div>
		<p class="p-a-2 text-center offset-lg-1 col-lg-10">
			警报是在任何仪表板图形面板的<strong>警报选项卡</strong>中添加和配置的，可让您使用现有查询来构建和可视化警报。
			<br> <br>
			要保留警报规则更改，请记住保存仪表板。
			<br>
			<br>
		</p>
	</div>

</div>

